.item {
    -fx-min-width: 150px;
    -fx-max-width: 1800px;
}

.item1 {
    -fx-base: lightyellow;
}

.item2 {
    -fx-base: coral;
}

.item3 {
    -fx-base: lightgreen;
}

.flex-pane {
    -fx-background-color: darkgray;
    -fx-padding: 20px;
}